@model IEnumerable<Techwaukee.goRecruitAI.ViewModels.JobInfo>

@{
    ViewData["Title"] = "NotfilledIndex";
    var TabName = ViewData["TabName"];
}
<script src="~/js/jquery.js"></script>
<script src="~/js/jquery.multi-select.js"></script>
<script src="~/js/jquery.multi-select.min.js"></script>

<script>
   $(document).ready(function(){
       $("#div_Loader").hide();
       getPaging(10);
   })
</script>

<style>
        body {
            zoom: 80%;
        }
    </style>

<div class="container-fluid hidden">
            <div class="col-md-12 mt-3">
                <div class="card" style="height: auto !important;">
                    <div class="p-3">
                    <div class="card-header pb-0">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <h5 class="mb-0"><span>Job List</span></h5>
                                </div>
                                <div class="col-md-6">
                                    <div class="ms-auto my-auto mt-lg-0 mt-4">
                                        <div class="ms-auto my-auto text-right">
                                            <button type="button" id="btnNewJob" class="btn bg-gradient-info btn-sm mb-0 w-30 p-2" onclick="window.location='AddJobcode.aspx'">
                                                +&nbsp; Add Job
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                <div class="col-md-12">
                    <div class="ct-example p-3">
                        <div class="nav-wrapper position-relative end-0">
                            <ul class="nav nav-pills nav-fill p-1" role="tablist">


                                @foreach (var item11 in @Model.First().jobcounts)
                                {
                                    string intcount = "0";

                                    @if (item11 != null && item11.JobStatusName == "Active Jobs")
                                    {

                                        <li class="nav-item">
                                            <a class="nav-link mb-0 px-0 py-1" asp-action="Index" asp-controller="Job" asp-route-TabName="Active">
                                                Active Jobs
                                                @if (item11.TotalCount < 10)
                                                {
                                                    intcount = intcount + item11.TotalCount.ToString();

                                                }
                                                else

                                                {
                                                    intcount = item11.TotalCount.ToString();
                                                }

                                                <span class="ms-2 text-color-blue" id="lblOpenjobsvalueus">@Html.DisplayFor(m => intcount)</span>
                                            </a>
                                        </li>
                                    }


                                    @if (item11 != null && item11.JobStatusName == "Notfilled Jobs")
                                    {

                                        <li class="nav-item">

                                            <a class="nav-link mb-0 px-0 py-1 active" asp-action="NotfilledIndex" asp-controller="Job" asp-route-TabName="Notfilled">
                                                Not Filled
                                                @if (item11.TotalCount < 10)
                                                {
                                                    intcount = intcount + item11.TotalCount.ToString();

                                                }
                                                else

                                                {
                                                    intcount = item11.TotalCount.ToString();
                                                }
                                                <span class="ms-2 text-color-red" id="lblNosubmissionvalueus">@Html.DisplayFor(m => intcount)</span>
                                            </a>
                                        </li>
                                    }


                                    @if (item11 != null && item11.JobStatusName == "Interview Jobs")
                                    {

                                        <li class="nav-item">
                                            <a class="nav-link mb-0 px-0 py-1" asp-action="InterviewIndex" asp-controller="Job" asp-route-TabName="Interview">
                                                Interview
                                                @if (item11.TotalCount < 10)
                                                {
                                                    intcount = intcount + item11.TotalCount.ToString();

                                                }
                                                else

                                                {
                                                    intcount = item11.TotalCount.ToString();
                                                }
                                                <span class="ms-2 text-color-blue" id="lblInterviewvalueus">@Html.DisplayFor(m => intcount)</span>
                                            </a>
                                        </li>

                                    }

                                    @if (item11 != null && item11.JobStatusName == "Closure Jobs")
                                    {

                                        <li class="nav-item">
                                            <a class="nav-link mb-0 px-0 py-1" asp-action="ClosureIndex" asp-controller="Job" asp-route-TabName="Closure">
                                                Closure
                                                @if (item11.TotalCount < 10)
                                                {
                                                    intcount = intcount + item11.TotalCount.ToString();

                                                }
                                                else

                                                {
                                                    intcount = item11.TotalCount.ToString();
                                                }
                                                <span class="ms-2 text-color-green" id="lblClosurevalueus">@Html.DisplayFor(m=>intcount)</span>
                                            </a>
                                        </li>
                                    }


                                    @if (item11 != null && item11.JobStatusName == "Inactive Jobs")
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link mb-0 px-0 py-1" asp-action="InactiveIndex" asp-controller="Job" asp-route-TabName="Inactive">
                                                Inactive Job

                                                @if (item11.TotalCount < 10)
                                                {
                                                    intcount = intcount + item11.TotalCount.ToString();

                                                }
                                                else

                                                {
                                                    intcount = item11.TotalCount.ToString();
                                                }

                                                <span class="ms-2 text-color-red" id="lblInactivejob">@Html.DisplayFor(m=>intcount)</span>

                                            </a>
                                        </li>
                                    }


                                    @if (item11 != null && item11.JobStatusName == "Overall Jobs")
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link mb-0 px-0 py-1" asp-action="OverallIndex" asp-controller="Job" asp-route-TabName="Overall">
                                                Overall
                                                 @if (item11.TotalCount < 10)
                                                        {
                                                            intcount = intcount + item11.TotalCount.ToString();

                                                        }
                                                        else

                                                        {
                                                            intcount = item11.TotalCount.ToString();
                                                        }

                                                <span class="ms-2 text-color-blue" id="lblTotaljobsvalueus">@Html.DisplayFor(m=>intcount)</span>
                                            </a>
                                        </li>
                                    }

                                }
                            </ul>
                        </div>
                    </div>
                </div>


                    <div class="">
                        <div class="p-3 ps-4 pe-4">
                                <div class="mb-0 scrollbar" id="div_record" style="height: auto;">
                                    <table class="table table-responsive align-items-center mb-0" id="tblJoblist">
                                        <thead>
                                            <tr style="border-bottom: 2px solid #ababab;">
                                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder">Job Title
                                                 <button class="btn bg-gradient-warning p-0 mb-0" type="button" id="btnjobsfilter" data-bs-toggle="dropdown" aria-expanded="false" style="background: none !important; box-shadow: none !important; color: #0c0c0c; font-size: 12px">
                                                     <i class="fas fa-filter" style="margin: 4px;"></i>
                                                 </button>
                                                    <ul class="dropdown-menu text-xxs" aria-labelledby="dropdownMenuButton" id="ul_job" style="box-shadow: 3px 8px 19px 0px; overflow: scroll; height: 140px; overflow-x: hidden; width: 200px;">
                                                    </ul>
                                                </th>
                                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Location
                                                    <button class="btn bg-gradient-warning p-0 mb-0" type="button" id="btnlocationfilter" data-bs-toggle="dropdown" aria-expanded="false" style="background: none !important; box-shadow: none !important; color: #0c0c0c; font-size: 12px">
                                                        <i class="fas fa-filter" style="margin: 4px;"></i>
                                                    </button>
                                                    <ul class="dropdown-menu text-xxs scrollbar" aria-labelledby="dropdownMenuButton" id="ul_location" style="box-shadow: 3px 8px 19px 0px; overflow: scroll; height: 140px; overflow-x: hidden; width: 200px;">
                                                    </ul>
                                                </th>
                                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Rate</th>
                                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2" id="th_04">Skill</th>
                                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder ps-2" id="th_05">Priority
                                                    <button class="btn bg-gradient-warning p-0 mb-0" type="button" id="btnpriorityfilter" data-bs-toggle="dropdown" aria-expanded="false" style="background: none !important; box-shadow: none !important; color: #0c0c0c; font-size: 12px">
                                                        <i class="fas fa-filter" style="margin: 4px;"></i>
                                                    </button>
                                                    <ul class="dropdown-menu text-xxs scrollbar" aria-labelledby="dropdownMenuButton" id="ul_priority" style="box-shadow: 3px 8px 19px 0px; overflow: scroll; height: 140px; overflow-x: hidden; width: 200px;">
                                                    </ul>
                                                </th>
                                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder ps-2" id="th_06">Open Date
                                                    <button class="btn bg-gradient-warning p-0 mb-0" type="button" id="btnopendatefilter" data-bs-toggle="dropdown" aria-expanded="false" style="background: none !important; box-shadow: none !important; color: #0c0c0c; font-size: 12px">
                                                        <i class="fas fa-filter" style="margin: 4px;"></i>
                                                    </button>
                                                    <ul class="dropdown-menu text-xxs scrollbar" aria-labelledby="dropdownMenuButton" id="ul_opendate" style="box-shadow: 3px 8px 19px 0px; overflow: scroll; height: 140px; overflow-x: hidden; width: 200px;">
                                                    </ul>
                                                </th>
                                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder ps-2" id="th_07">Client
                                                    <button class="btn bg-gradient-warning p-0 mb-0" type="button" id="btnclientfilter" data-bs-toggle="dropdown" aria-expanded="false" style="background: none !important; box-shadow: none !important; color: #0c0c0c; font-size: 12px">
                                                        <i class="fas fa-filter" style="margin: 4px;"></i>
                                                    </button>
                                                    <ul class="dropdown-menu text-xxs scrollbar" aria-labelledby="dropdownMenuButton" id="ul_client" style="box-shadow: 3px 8px 19px 0px; overflow: scroll; height: 140px; overflow-x: hidden; width: 200px;">
                                                    </ul>
                                                </th>
                                                <th class="text-secondary opacity-7"></th>
                                            </tr>
                                        </thead>

                                        <tbody style="border-bottom: 2px solid #ababab;">
                                        @*@if (TabName == "Active")
                                        {*@
                                            @foreach (var item in Model)
                                            {
                                                <tr class="divControl" style="cursor: pointer;" id="divControl_1">
                                                    <td>
                                                         <div class="d-flex px-2 py-1 ps-2">
                                                             <div class="d-flex flex-column justify-content-center">
                                                               <h6 class="mb-0 text-xs">
                                                            <a class="color-change" href="">
                                                                <label class="mb-0 text-xs btn-tooltip" style="font-weight:600;margin:0px;" id="lblJobname" data-bs-toggle='tooltip' data-bs-placement='top'> @Html.DisplayFor(modelItem => item.JobTitle)</label>
                                                            </a>
                                                        </h6>
                                                        <label class="m-0 mt-1">
                                                                        <label class="text-secondary text-xs font-weight-bold" id="lblJobmonth"> @Html.DisplayFor(modelItem => item.Duration)</label>
                                                                        <label class="text-secondary text-xs font-weight-bold mb-0 ms-0" id="lblJobmonthDuration">Months</label>
                                                                          <label class="text-secondary text-xs font-weight-bold mb-0 ms-1 me-1">|</label>
                                                                        <label class="text-secondary text-xs font-weight-bold mb-0 ms-n1" id="lblJobcontract">  @Html.DisplayFor(modelItem => item.EmplType)</label>
                                                                          <label class="text-secondary text-xs font-weight-bold mb-0 ms-1 me-1">|</label>
                                                                        <label class="text-secondary text-xs font-weight-bold mb-0 ms-n1" id="lblJobcity"> @Html.DisplayFor(modelItem => item.Location)</label>
                                                                    </label>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td style="white-space: normal;">
                                                        <div class="col-md-12">
                                                                @if (item.City == null && item.State == null)
                                                                {
                                                                    <label class="text-secondary text-xs font-weight-bold mb-0 ms-0">@Html.DisplayFor(modelItem => item.Country)</label>
                                                                }

                                                                else
                                                                {
                                                                    <label class="text-secondary text-xs font-weight-bold mb-0 ms-0">@Html.DisplayFor(modelItem => item.City),@Html.DisplayFor(modelItem => item.State)</label>                                                           
                                                                }
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="col-md-12">
                                                                <label class="text-secondary text-xs font-weight-bold mb-0 ms-n1">
                                                                    <label class="text-secondary text-xs font-weight-bold mb-0">$</label>
                                                                    <label class="text-secondary text-xs font-weight-bold mb-0 ms-0" id="lblRate1"> @Html.DisplayFor(modelItem => item.Rate1)</label>
                                                                    <label class="text-secondary text-xs font-weight-bold mb-0 ms-0">/Hr on</label>
                                                                    <label class="text-secondary text-xs font-weight-bold mb-0 ms-0" id="lblWorktype1"> @Html.DisplayFor(modelItem => item.WorkType1)</label>
                                                                </label>
                                                        </div>
                                                    </td>

                                            @{
                                                var strPricand = "";
                                                foreach (var item1 in item.JobPrimarySkill)
                                                {
                                                  

                                                    strPricand += (String.Format("{0}-{1}", item1.JobSkillName, item1.JobYrsofExp));
                                                    //strPricand = String.Concat(strPricand, String.Concat(item1.JobSkillName, item1.JobYrsofExp));
                                                }
  
                                              }

                                                    <td>
                                                        <div class="btn btn-icon-only btn-rounded btn-outline-info mb-0 me-2 btn-sm d-flex align-items-center justify-content-center text-color-green" style="border-color: #00a10d !important;" aria-hidden="true">
                                                        <i class="fas fa-check" aria-hidden="true" title=@Html.DisplayTextFor(m => strPricand) ></i> </div>
                                                    </td>
                                                    
                                                    <td>
                                                            <div class="col-md-12">
                                                                @if (item.Prioritylevel == "High")
                                                                {
                                                                    @Html.LabelFor(x => item.Prioritylevel,item.Prioritylevel,new { @class = "text-secondary text-xs font-weight-bold mb-0 ms-0 text-color-red"})                                                    ;
                                                                }
                                                                else if(item.Prioritylevel == "Medium")
                                                                {
                                                                    @Html.LabelFor(x => item.Prioritylevel, item.Prioritylevel,new { @class = "text-secondary text-xs font-weight-bold mb-0 ms-0 text-color-blue"})                                                    ;
                                                                }
                                                                else if(item.Prioritylevel == "Low")
                                                                {
                                                                    @Html.LabelFor(x => item.Prioritylevel, item.Prioritylevel,new { @class = "text-secondary text-xs font-weight-bold mb-0 ms-0 text-color-black"})                                                    ;
                                                                }

                                                            </div>
                                                    </td>
                                                    <td class="align-middle text-center">
                                                        <label class="text-secondary text-xs font-weight-bold mb-0 ms-n3" id="lblJobopendate"> @Html.DisplayFor(modelItem => item.Jobopendatevalue)</label>
                                                    </td>

                                                    <td class="align-middle">
                                                        <div class="col-md- 12">
                                                           <label class="text-secondary text-xs font-weight-bold mb-0 ms-0">@Html.DisplayFor(modelItem => item.Clientname)</label>
                                                        </div>
                                                    </td>

                                                    <td class="align-middle dropdown pt-2">
                                                        <div class="text-left">
                                                            <div class="dropdown pe-1">
                                                                <a href="javascript:" class="text-secondary" id="dropdownCam" data-bs-toggle="dropdown" aria-expanded="false">
                                                                    <i class="ni ni-bold-down"></i>
                                                                </a>
                                                                <ul class="dropdown-menu dropdown-menu-end me-sm-n1 px-2 py-1" aria-labelledby="dropdownCam">
                                                                    <li>
                                                                        <a class="dropdown-item border-radius-md" href="Candidate_View.aspx?id=11237" id="View">View</a>
                                                                    </li>
                                                                    <li>
                                                                        <a class="dropdown-item border-radius-md" href="Candidate.aspx?jobid=TWEUSA0201&amp;id=11237" id="Edit">Edit</a>
                                                                    </li>
                                                                    <li>
                                                                        <a class="dropdown-item border-radius-md" href="Candidate.aspx?jobid=TWEUSA0201&amp;id=11237" id="Edit">Copy JD</a>
                                                                    </li>
                                                                    <li>
                                                                        <hr class="dropdown-divider">
                                                                    </li>
                                                                    <li>
                                                                        <a class="dropdown-item border-radius-md text-danger" href="javascript:;" onclick="gotocandidatepage('11237','TWEUSA0201','Randstad');">Close Job</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        @*}*@
                                        </tbody>


                                        


                                    </table>

                                    <div class="dataTable-bottom">
                                        <div class="dataTable-info" id="divInfo">Showing 1 to 5 of 24 entries</div>
                                        <div id="paginus" class="pagination pagination-info">
                                            <div class="prev" style="display: none;"><i class="ni ni-bold-left" aria-hidden="true"></i></div>
                                            <div class="pagination pagination-info" id="divPages">
                                                <div class="page pageselect selected" id="page_1" style="">1</div>
                                                <div class="page selected" id="page_2" style="">2</div>
                                                <div class="page selected" id="page_3" style="">3</div>
                                                <div class="page" id="page_4" style="display: none;">4</div>
                                                <div class="page" id="page_5" style="display: none;">5</div>
                                            </div>
                                            <div class="next" style="display: block;"><i class="ni ni-bold-right" aria-hidden="true"></i></div>
                                        </div>
                                    </div>
                                </div>

                            <div class="col-md-12 text-center" id="div_norecord" style="display: none;">
                                <img src="Images/No Records Found.png" style="width: 500px; height: 500px;">
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>

<script src="~/AppScripts/Table.js"></script>
